/* Fonts Family */
@font-face {
    font-family: 'ProximaNova_extra';
    src: url('../fonts/subset-ProximaNova-Extrabld.eot');
    src: url('../fonts/subset-ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Extrabld.ttf') format('truetype'),
        url('../fonts/subset-ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/subset-ProximaNova-Regular.eot');
    src: url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Regular.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/subset-ProximaNova-Bold.eot');
    src: url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Bold.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_black';
    src: url('../fonts/subset-ProximaNova-Black.eot');
    src: url('../fonts/subset-ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Black.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/subset-ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
.reg() {
	font-family: 'ProximaNova_reg', sans-serif;
}
.bold() {
	font-family: 'ProximaNova_bold', sans-serif;
}
.black() {
	font-family: 'ProximaNova_black', sans-serif;
}
.extrabold() {
	font-family: 'ProximaNova_extra', sans-serif;
}
@text-light: #fff;
@text-dark: #000;
@text-input: #818181;
@btn-blue: #1669b3;
@btn-yellow: #f7b516;
@bg-light: #fff;
@bg-dark: #191919;
@bg-light-blue: #0b3554;
@bg-yellow: #f7b516;
@bg-input: #f2f2f2;
@fs-title: 3.6rem;
@fs-title-big: 4rem;
@fs-title-small: 3rem;
@fs-subtitle: 2rem;
@fs-subtitle-big: 2.5rem;
@fs-subtitle-small: 1.8rem;
@fs-caption: 1.8rem;
@fs-small: 1.4rem;
@fs-btn: 1.7rem;
@fs-btn-small: 1.2rem;
@fs-input: 1.3rem;

/* Basic settings */
html {
	font-size: 10px;
}
body {
	.reg();
}
a:hover {
	text-decoration: none;
}
button, input, a, textarea {
	&:focus {
		outline: none;
	}
}
::-webkit-input-placeholder {color:@text-input;text-transform:uppercase;}
::-moz-placeholder          {color:@text-input;text-transform:uppercase;}/* Firefox 19+ */
:-moz-placeholder           {color:@text-input;text-transform:uppercase;}/* Firefox 18- */
:-ms-input-placeholder      {color:@text-input;text-transform:uppercase;}

.button {
	padding: 2rem 3rem;
	//width: 100%;
	border-radius: none;
	font-size: @fs-btn;
	.bold();
	color: @text-light;
	text-transform: uppercase;
	border: none;
	transition: all 0.2s;
	&_blue {
		background-color: @btn-blue;
	}
	&_yellow {
		background-color: @btn-yellow;
	}
	&:hover {
		cursor: pointer;
		background-color: darken(@btn-blue, 5%);
	}
}
.form-input {
	padding: 3rem 7rem 3rem 3rem;
	width: 100%;
	font-size: @fs-input;
	background-color: @bg-input;
	border: none;
}
/* Шапка сайта */
.header {
	min-height: 10rem;
	background-color: @bg-dark;
	.row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-height: 10rem;
		.schedule {
			text-align: center;
			font-size: @fs-small;
			color: @text-light;
			p {
				margin-bottom: 0;
				line-height: 2;
			}
			span {
				.bold();
			}
		}
		.phone {
			&-link {
				display: block;
				margin-bottom: 0;
				line-height: 2;
				text-align: right;
				color: @text-light;
				font-size: @fs-caption;
				.black();
			}
		}
	}
	&-btn {
		padding: 2rem 2.5rem;
		font-size: @fs-btn-small;
	}
}
/* Заголовок со списком преимуществ */
.main {
	background: url(../img/main-bg.jpg) center no-repeat;
	background-size: cover;
	&-content {
		padding: 9rem 10rem 6rem;
		background-color: @bg-yellow;
		color: @text-dark;
	}
	&-title {
		margin-top: 0;
		margin-bottom: 3rem;
		font-size: @fs-title-big;
		.black();
		text-transform: uppercase;
		line-height: 1.375;
	}
	&-subtitle {
		margin-bottom: 10rem;
		font-size: @fs-subtitle-big;
		.extrabold();
	}
	&-features {
		font-size: @fs-caption;
		li {
			padding-left: 5rem;
			padding-bottom: 4rem;
		}
		&_img-1 {
			background: url(../img/main/piggy-bank.svg) 0 1rem no-repeat;
			background-size: 3rem;
		}
		&_img-2 {
			background: url(../img/main/delivery-truck.svg) 0 1.5rem no-repeat;
			background-size: 3rem;
		}
		&_img-3 {
			background: url(../img/main/calendar.svg) 0 1rem no-repeat;
			background-size: 3rem;
		}
		&_img-4 {
			background: url(../img/main/medal.svg) 0 0.5rem no-repeat;
			background-size: 3rem;
		}
	}
}
/* Получите прайс */
.price {
	background: url(../img/price/get-price-bg.jpg) center no-repeat;
	background-size: cover;
	&-block {
		padding: 10rem 0 10rem;
	}
	&-header {
		margin-bottom: 5rem;
		margin-top: 0;
		.black();
		color: @text-dark;
		font-size: @fs-title-small;
		text-align: right;
	}
	&-form {
		.input-email {
			position: relative;
			&:before {
				position: absolute;
				content: '';
				width: 2rem;
				height: 2rem;
				top: 3rem;
				right: 3rem;
				background: url(../img/envelope.svg) 0 0 no-repeat;
				background-size: 100%;
			}
		}
		.input-tel {
			position: relative;
			&:before {
				position: absolute;
				content: '';
				width: 2rem;
				height: 2rem;
				top: 3rem;
				right: 3rem;
				background: url(../img/phone.svg) 0 0 no-repeat;
				background-size: 100%;
			}
		}
		.form-input {
			margin-bottom: 3rem;
		}
		.wait-price {
			display: flex;
			min-height: 8rem;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: wrap;
			p {
				display: inline-block;
				margin: 0;
				text-align: right;
			}
			img {
				width: 3rem;
				margin-left: 3rem;
			}
		}
		.price-btn {
			padding: 3rem;
			width: 100%;
		}
	}
}
@media (max-width: 992px) {
	.header {
		.row {
			.phone {
				&-link {
					font-size: @fs-small;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.header {
		.row {
			padding: 1rem;
			.logo {
				text-align: center;
			}
		}
	}
	.main {
		&-content {
			padding: 4rem 4rem 2rem;
			background-color: rgba(25, 25, 25, 0.7);
			color: @text-light;
		}
		&-title {
			font-size: @fs-title;
			text-align: center;
		}
		&-subtitle {
			margin-bottom: 4rem;
			font-size: @fs-subtitle;
			text-align: center;
		}
		&-features_img-1 {
			background: url(../img/main/piggy-bank-light.svg) 0 1rem no-repeat;			
			background-size: 3rem;
		}
		&-features_img-2 {
			background: url(../img/main/delivery-truck-light.svg) 0 1.5rem no-repeat;			
			background-size: 3rem;
		}
		&-features_img-3 {
			background: url(../img/main/calendar-light.svg) 0 1rem no-repeat;			
			background-size: 3rem;
		}
		&-features_img-4 {
			background: url(../img/main/medal-light.svg) 0 0.5rem no-repeat;			
			background-size: 3rem;
		}
	}
	.price {
		background: none;
		&-block {
			padding: 4rem 0 4rem;
		}
		&-header {
			font-size: @fs-subtitle;
			text-align: center;
		}
	}
}
@media (max-width: 550px) {
	.header {
		.row {
			.schedule {
				font-size: 1.2rem;
			}
			.phone {
				&-link {
					font-size: 1.2rem;
				}
			}
		}
		&-btn {
			padding: 1rem 2rem;
		}
	}
	.main {
		&-content {
			padding: 4rem 1.7rem 2rem;
		}
		&-title {
			font-size: @fs-subtitle;
		}
		&-subtitle {
			font-size: @fs-subtitle-small;
		}
		&-features {
			li {
				padding-bottom: 2rem;
				font-size: @fs-small;
			}
		}
	}
}