/* Fonts Family */
@font-face {
  font-family: 'ProximaNova_extra';
  src: url('../fonts/subset-ProximaNova-Extrabld.eot');
  src: url('../fonts/subset-ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-ProximaNova-Extrabld.woff2') format('woff2'), url('../fonts/subset-ProximaNova-Extrabld.woff') format('woff'), url('../fonts/subset-ProximaNova-Extrabld.ttf') format('truetype'), url('../fonts/subset-ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/subset-ProximaNova-Regular.eot');
  src: url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'), url('../fonts/subset-ProximaNova-Regular.woff') format('woff'), url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype'), url('../fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/subset-ProximaNova-Bold.eot');
  src: url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'), url('../fonts/subset-ProximaNova-Bold.woff') format('woff'), url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype'), url('../fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_black';
  src: url('../fonts/subset-ProximaNova-Black.eot');
  src: url('../fonts/subset-ProximaNova-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-ProximaNova-Black.woff2') format('woff2'), url('../fonts/subset-ProximaNova-Black.woff') format('woff'), url('../fonts/subset-ProximaNova-Black.ttf') format('truetype'), url('../fonts/subset-ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #818181;
  text-transform: uppercase;
}
::-moz-placeholder {
  font-size: 1.4rem;
  color: #818181;
  text-transform: uppercase;
}
/* Firefox 19+ */
:-moz-placeholder {
  font-size: 1.4rem;
  color: #818181;
  text-transform: uppercase;
}
/* Firefox 18- */
:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #818181;
  text-transform: uppercase;
}
.block-title {
  margin-top: 0;
  font-family: 'ProximaNova_black', sans-serif;
  font-size: 3rem;
}
.block-subtitle {
  font-size: 2rem;
}
.button {
  padding: 2rem 3rem;
  border-radius: none;
  font-size: 1.7rem;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button_blue {
  background-color: #1669b3;
}
.button_blue:hover {
  cursor: pointer;
  background-color: #104e86;
}
.button_yellow {
  background-color: #f7b516;
}
.button_yellow:hover {
  cursor: pointer;
  background-color: #d39707;
}
.form-input {
  padding: 2rem 7rem 2rem 2.5rem;
  margin-bottom: 3rem;
  width: 100%;
  font-size: 2rem;
  background-color: #f2f2f2;
  border: none;
}
.form-btn {
  padding: 2rem;
  width: 100%;
  font-size: 2rem;
}
/* Шапка сайта */
.header {
  min-height: 10rem;
  background-color: #191919;
}
.header .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10rem;
}
.header .row .schedule {
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
}
.header .row .schedule p {
  margin-bottom: 0;
  line-height: 2;
}
.header .row .schedule span {
  font-family: 'ProximaNova_bold', sans-serif;
}
.header .row .phone-link {
  display: block;
  margin-bottom: 0;
  line-height: 2;
  text-align: right;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: 'ProximaNova_black', sans-serif;
}
.header-btn {
  padding: 2rem 2.5rem;
  font-size: 1.2rem;
}
/* Заголовок со списком преимуществ */
.main {
  background: url(../img/main-bg.jpg) center no-repeat;
  background-size: cover;
}
.main-content {
  padding: 9rem 10rem 6rem;
  background-color: #f7b516;
  color: #000000;
}
.main-title {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.375;
}
.main-subtitle {
  margin-bottom: 10rem;
  font-size: 2.5rem;
  font-family: 'ProximaNova_extra', sans-serif;
}
.main-features {
  font-size: 1.8rem;
}
.main-features li {
  padding-left: 5rem;
  padding-bottom: 4rem;
}
.main-features_img-1 {
  background: url(../img/main/piggy-bank.svg) 0 1rem no-repeat;
  background-size: 3rem;
}
.main-features_img-2 {
  background: url(../img/main/delivery-truck.svg) 0 1.5rem no-repeat;
  background-size: 3rem;
}
.main-features_img-3 {
  background: url(../img/main/calendar.svg) 0 1rem no-repeat;
  background-size: 3rem;
}
.main-features_img-4 {
  background: url(../img/main/medal.svg) 0 0.5rem no-repeat;
  background-size: 3rem;
}
/* Получите прайс */
.price {
  background: url(../img/price/get-price-bg.jpg) center no-repeat;
  background-size: cover;
}
.price-block {
  padding: 10rem 0rem 10rem;
}
.price-title {
  margin-bottom: 5rem;
  margin-top: 0;
  color: #000000;
  text-align: right;
}
.price-form .input-email {
  position: relative;
}
.price-form .input-email:before {
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  top: 2.5rem;
  right: 3rem;
  background: url(../img/envelope.svg) 0 0 no-repeat;
  background-size: 100%;
}
.price-form .input-tel {
  position: relative;
}
.price-form .input-tel:before {
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  top: 2.5rem;
  right: 3rem;
  background: url(../img/phone.svg) 0 0 no-repeat;
  background-size: 100%;
}
.price-wait {
  display: flex;
  min-height: 8rem;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.price-wait p {
  display: inline-block;
  margin: 0;
  text-align: right;
}
.price-wait img {
  width: 3rem;
  margin-left: 3rem;
}
.price-btn {
  padding: 3rem;
  width: 100%;
}
/* Вам не придется ждать */
.features {
  background-color: #08243e;
  color: #ffffff;
  text-align: center;
}
.features-block {
  padding: 10rem 0rem 10rem;
}
.features-header {
  margin-bottom: 9rem;
}
.features-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3.6rem;
}
.features-item p {
  font-size: 1.8rem;
}
.features-img {
  margin-bottom: 5rem;
  height: 9rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
/* Ищете конкретную деталь */
.detail {
  background: url(../img/detail-bg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
.detail-block {
  padding: 10rem 0rem 10rem;
}
.detail-header {
  margin-bottom: 5rem;
}
.detail-title {
  margin-top: 0;
  margin-bottom: 3rem;
}
.detail-subtitle {
  line-height: 1.2;
}
.detail-subtitle span {
  text-transform: uppercase;
}
.detail-form {
  margin-bottom: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.detail .call {
  font-size: 1.4rem;
}
.detail .call-wait {
  margin-bottom: 3rem;
}
.detail .call .phone {
  margin-bottom: 0;
  font-family: 'ProximaNova_extra', sans-serif;
  font-size: 3rem;
}
/* Мы гарантируем сохранность */
.warranty {
  background-color: #ffffff;
}
.warranty-block {
  padding: 10rem 0rem 10rem;
  color: #000000;
  text-align: center;
}
.warranty-title {
  margin-bottom: 9rem;
  font-size: 3.6rem;
}
.warranty-item {
  margin-bottom: 2rem;
}
.warranty-img {
  margin-bottom: 3rem;
}
.warranty-caption {
  margin-bottom: 2rem;
  min-height: 6rem;
  font-size: 1.8rem;
  line-height: 1.2;
}
.warranty-link {
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000000;
  font-size: 1.8rem;
}
.warranty-link:hover {
  color: #1a1a1a;
}
@media (max-width: 992px) {
  .header .row .phone-link {
    font-size: 1.4rem;
  }
  .features-block {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (max-width: 768px) {
  .header .row {
    padding: 1rem;
  }
  .header .row .logo {
    text-align: center;
  }
  .main-content {
    padding: 4rem 4rem 2rem;
    background-color: rgba(25, 25, 25, 0.7);
    color: #ffffff;
  }
  .main-title {
    font-size: 3.6rem;
    text-align: center;
    color: #f7b516;
  }
  .main-subtitle {
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
  }
  .main-features_img-1 {
    background: url(../img/main/piggy-bank-light.svg) 0 1rem no-repeat;
    background-size: 3rem;
  }
  .main-features_img-2 {
    background: url(../img/main/delivery-truck-light.svg) 0 1.5rem no-repeat;
    background-size: 3rem;
  }
  .main-features_img-3 {
    background: url(../img/main/calendar-light.svg) 0 1rem no-repeat;
    background-size: 3rem;
  }
  .main-features_img-4 {
    background: url(../img/main/medal-light.svg) 0 0.5rem no-repeat;
    background-size: 3rem;
  }
  .price {
    background: none;
  }
  .price-block {
    padding: 4rem 0rem 4rem;
  }
  .price-title {
    text-align: center;
  }
  .features-block {
    padding: 4rem 5rem 4rem;
  }
  .features-header {
    margin-bottom: 4rem;
  }
  .features-title {
    font-size: 3rem;
  }
  .detail-block {
    padding: 4rem 0rem 4rem;
  }
  .warranty-block {
    padding: 4rem 0rem 4rem;
  }
  .warranty-title {
    margin-bottom: 4rem;
  }
}
@media (max-width: 550px) {
  .form-input {
    padding: 1.5rem 6rem 1.5rem 1.5rem;
    margin-bottom: 1rem;
  }
  .form-btn {
    padding: 1.5rem;
  }
  .block-title {
    font-size: 2rem;
  }
  .block-subtitle {
    font-size: 1.6rem;
  }
  .header .row .schedule {
    font-size: 1.2rem;
  }
  .header .row .phone-link {
    font-size: 1.2rem;
  }
  .header-btn {
    padding: 1rem 2rem;
  }
  .main-content {
    padding: 4rem 1.7rem 2rem;
  }
  .main-features li {
    padding-bottom: 2rem;
    font-size: 1.4rem;
  }
  .price-header {
    margin-bottom: 2rem;
  }
  .price-form .input-email:before {
    top: 2rem;
  }
  .price-form .input-tel:before {
    top: 1.8rem;
  }
  .price-btn {
    padding: 1.5rem;
  }
  .features-block {
    padding: 4rem 5rem 4rem;
  }
  .features-item p {
    font-size: 1.4rem;
  }
  .detail-header {
    margin-bottom: 3rem;
  }
  .warranty-caption {
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  .warranty-link {
    font-size: 1.6rem;
  }
}
